on:
  push:
    tags:
    - 'v*'

name: Release CI

jobs:
  build:
    name: Upload release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          java-version: 21
          distribution: 'adopt'
          server-id: ossrh-fidesmo
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD          
      - name: Build
        run: ./mvnw -B -P release verify
      - name: Release
        id: create_release
        uses: softprops/action-gh-release@v0.1.15
        with:
          files: |
            tool/target/fdsm.jar
            tool/target/fdsm.exe
          fail_on_unmatched_files: true
          body: Release ${{ github.ref_name }}
          prerelease: true # manually promoted
      - name: Import GPG key
        id: import_gpg
        uses: crazy-max/ghaction-import-gpg@v5
        with:
          gpg_private_key: ${{ secrets.OSSRH_GPG_SECRET_KEY }}
          passphrase: ${{ secrets.OSSRH_GPG_SECRET_KEY_PASSWORD }}      
      - name: Publish package to maven
        run: ./mvnw -B --no-transfer-progress -P sign -Dgpg.passphrase=${{ secrets.OSSRH_GPG_SECRET_KEY_PASSWORD }} deploy
        env:
          MAVEN_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.OSSRH_TOKEN }}
